.ProfilePageContainer {
    margin: 0;
    height: 100vh;
    overflow: auto;
    display: flex;
    padding: 0 40px;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(21, 32, 43);
}