.NavigationContainer {
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    scroll-behavior: auto;
    padding-left: 2%;
    padding-right: 2%;
}

.TwitterLogo {

}

Button {
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-basis: 6%;
    height: 10px !important;
    border: none !important;
    background-color: rgba(0,0,0,0) !important;
    font-weight: bold !important;
}

.ButtonImage {
    flex: 1 1 10%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border-radius: 50%;
}

.Spacing {
    flex: 1 1 5%;
    height: 100%;
}

Button:hover{
    background: #5299d2 !important;
}
