.TweetMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6px;
    width: 100%;
    min-height: 150px;
    border: thin solid antiquewhite;
    color: white;
}

.UsernameSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    height: 20%;
    min-height: 50px;
    width: 100%;
    /*border: thin solid red;*/
    color: white;
}

.ProfilePhoto {
    margin-left: 10px;
    height: 40px;
}

.UsersName{
    font-weight: bold;
    color: white;
}

.Username {
    color: grey;
}

.Time {
    color: grey;
}

.TweetBody {
    width: 80%;
    align-self: center;
    min-height: 50px;
    font-family: HelveticaNeue Arial sans-serif;
    font-size: 16px;
}

.TweetCommandsBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 20%;
    min-height: 50px;
    width: 80%;
    /*border: thin solid purple;*/
    color: white;
}

.CommandsButton {
    width: 50px;
    height: 50px;
    border: none !important;
    background-color: rgba(0,0,0,0) !important;
    font-weight: bold !important;
    color: white !important;
}

#CommentButton:hover{
    background: rgb(20, 41, 58) !important;
    color: rgb(11, 118, 184) !important;
}

#RetweetButton:hover{
    background: rgb(20, 58, 22) !important;
    color: rgb(11, 184, 20) !important;
}

#LikeButton:hover{
    background: rgb(58, 20, 28) !important;
    color: rgb(184, 11, 31) !important;
}

#ShareTweetButton:hover{
    background: rgb(20, 41, 58) !important;
    color: rgb(11, 118, 184) !important;
}