.InformationBox {
    float: left;
    height: 100%;
    background-color: rgb(112, 190, 237);
    background-image: url("../../../Images/HomePage/TwitterBackground.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto;
    background-attachment: fixed;
    width: 50%;
}

@media screen and (max-width: 800px){
    .InformationBox {
        width: 100%;
        height: 50%;
    }
}

.GoalsContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 33%;
    left: 25%;
    height: 33%;
    max-height: 33%;
    max-width: 50%;
}

.Goal {
    flex: 30%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    padding: 5px;
    width: 100%;
}

.GoalImage {
    flex: 15%;
    height: 100%;
    /*background-image: url("../../../Images/HomePage/Search.png");*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.GoalText {
    flex: 85%;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: auto;
}